<!-- app/views/sessions/stores_books.html.erb -->
<h1>Stores and Books</h1>

<% @stores.each do |store| %>
  <h2><%= store.name %></h2>
  <ul>
    <% store.books.each do |book| %>
      <li><%= book.title %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Back to Main", root_path %>

